// body

.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 73px;
  /* width: 1300px; */
  width: 80%;
  /* outline: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  /* width: 420px; */
  width: 47%;
}

.card:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

.card__sub-heading {
  color: #b4ad9e;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 62px;
}

.card__heading {
  color: #626262;
  font-family: 'Playfair Display';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 40px;
}

.card__text {
  color: #626262;
  font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
