// header

.header__list {
  display: flex;
  gap: 99px;
  margin: 92px auto;
  /* outline: 2px solid red; */
  width: 555px;

  .header__link {
    color: #7d7d7d;
    font-family: 'Playfair Display';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    &:hover {
      color: #03a9f4;
    }
  }
}
