// header

.header__list {
  display: flex;
  gap: 99px;
  margin: 92px auto;
  /* outline: 2px solid red; */
  width: 555px;

  .header__link {
    @extend %text;
    font-size: 14px;
    &:hover {
      color: #03a9f4;
    }
  }
}
